h3 {
    font-family: fantasy;
    color: darkblue;
    font-size: 150%;
}

a {
    font-family: monospace;
    color: blue;
    cursor: pointer;
}

div strong {
    color: maroon;
    font-size: 100%;
    font-family: impact;
}

h1 {
    font-family: fantasy;
    font-size: 60px;
    color: darkblue;
}

ul {
    list-style: square;
}

div {
    width: 600px;
    border-style: double;
    color: dark;
    border-width: 9px;
}

img.me {
    height: 600px;
    width: 450px;
    float: left;
    margin-left: 700px;
    position: fixed;
    border-radius: 100%;
    border-style: double;
    border-width: 9px;
}
