h3 {
    font-family: Alegreya Sans, sans-serif;
    color: darkblue;
    font-size: 150%;
}

a {
    font-family: monospace;
    color: blue;
    cursor: pointer;
}

div strong {
    color: maroon;
    font-size: 100%;
    font-family: impact;
}

ul {
    list-style: square;
}

div {
    border-style: outset;
    width: 600px;
}

img.me {
    position: fixed;
    float: left;
    margin-left: 650px;
}
