h3 {
    font-family: cursive;
    color: darkblue;
}

a {
    font-family: arial;
    color: blue;
    cursor: pointer;
}

div strong {
    color: maroon;
    font-size: 130%;
    font-family: impact;
}

ul {
    list-style: square;
}
